<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>AiKademiya</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app"></div>

{% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/main.js"></script>
{% else %}
{% load static %}
    <script type="module" src="{% static 'frontend/main.js' %}"></script>
{% endif %}
</body>
</html>



